:root{
    --primary-color: #1A8CD8;
    --secondary-color: whitesmoke;
}

body {
  background-color: #15202B;
  color: var(--secondary-color);
}

.sidebar {
    height: 100vh;
}

.sidebar-list{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    list-style: none;
}

.sidebar-list li{

    border-radius: 4px;
    padding: 6px 12px;
}

.main-menu a{
  color: white !important;
}

.main-menu {
  border-bottom: 1px solid #1c2b3a;
}

.dropdown-menu {
  background-color: #1c2b3a;
}

.dropdown-menu .dropdown-item:hover{
  background-color: #233649;;
}

.posts-area {
    margin-top: 48px;
}

.post {
    margin: 0 auto;
    /* border: 1px solid #385573; */
    background-color: #1c2b3a;
    border-radius: 10px;
    padding: 24px;
    margin-bottom: 20px;
    width: 540px;
  }

  .post img{
    width: 30px;
  }

  .post:hover{
    background-color: #24374a;
    cursor: pointer;
  }
  
  .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
  }

  .post-header .post-feeling{
    position: absolute;
    display: flex;
    gap: 10px;
    right: 0;
  }

  .post-header .danger-post{
    animation: angry-glow 1s infinite alternate;
  }
  
  .post-author-image {
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .post-author-name {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .post-time {
    color: #999;
    font-size: 12px;
  }
  
  .post-body p {
    margin-bottom: 10px;
    text-align: left;
  }
  
  .post-footer {
    display: flex;
  }
  
  .post-like-btn,
  .post-comment-btn {
    margin-right: 10px;
  }
  
  .post-like-btn i,
  .post-comment-btn i {
    margin-right: 5px;
    color: var(--secondary-color);
  }

  .post-like-btn i:hover{
    color: rgb(189, 94, 169);
    fill: #1A8CD8;
  }

  .post-comment-btn i:hover{
    color: var(--primary-color)
  }

  /* POST FORM */
  
  .post-form {
    margin: 0 auto;
    background-color: #1c2b3a;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 24px;
    width: 540px;
  }
  .post-form textarea {
    border: none;
    height: 80px;
    resize: none;
    background-color: #1c2b3a;
  }

  .post-form textarea:focus{
    background-color: #1c2b3a;
    outline: none;
    color: var(--secondary-color);
  }

  .post-form label{
    display: none;
  }
  .post-form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
  }
  .post-form-footer .btn {
    background-color: #1c2b3a;
    border: none;
    margin-right: 10px;
  }
  .post-form-footer .btn:hover {
    /* background-color: #0c85d0; */
    color: #1A8CD8;
  }
  .post-form-charcount {
    color: #999;
    font-size: 14px;
  }

  .happy-icon:hover{
    color: rgb(255, 255, 47);
    animation: happy-glow 1s infinite alternate;
    cursor: pointer;
  }

  .neutral-icon:hover{
    color: rgb(47, 217, 255);
    cursor: pointer;
  }


  .angry-icon:hover{
    color: rgb(255, 47, 147);
    cursor: pointer;
    animation: angry-glow 1s infinite alternate;
  }

  @keyframes angry-glow {
    from {
      color: var(--secondary-color) /* Amarelo */
    }
    to {
      color: rgb(255, 47, 147);
    }
  }


  .form-control:focus {
    box-shadow: none;
    outline: none;
}

.btn:focus {
    outline: none;
  }
  
/* Results  */

.results-filter-area{
  margin: 0 auto;
  width: 500px;
  margin-top: 48px;
  border-radius: 15px;
  padding: 24px;
  outline: 1px solid #233649;
}

.inputs label, .inputs input {
  display: inline-block;
  margin-right: 10px;
}


.results-header h2{
  margin-bottom: 48px;
  font-size: 24px;
}

.results-area h3, p{
  margin-top: 24px;
}

.results-area {
  margin-top: 48px;
}
  
#filter-button{
  border: none;
  outline: none;
  background-color: #233649;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
}
